USE [master]
GO
/****** Object:  Database [Project@2021]    Script Date: 6/11/2021 1:23:39 PM ******/
CREATE DATABASE [Project@2021]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project@2021', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Project@2021.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Project@2021_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Project@2021_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project@2021].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project@2021]
GO
/****** Object:  User [hung]    Script Date: 6/11/2021 1:23:39 PM ******/
CREATE USER [hung] FOR LOGIN [hung] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CART]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[QUANTITY] [int] NULL,
	[STATUS] [nvarchar](50) NULL,
	[CREATED_AT] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[UPDATED_AT] [datetime] NULL,
	[MODIFY_BY] [datetime] NULL,
	[DELETED_AT] [datetime] NULL,
 CONSTRAINT [PK__CART__3214EC27B90E846F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[PARENT_ID] [int] NULL,
	[CREATED_AT] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[MODIFY_BY] [int] NULL,
	[DELETED] [datetime] NULL,
 CONSTRAINT [PK__CATEGORY__3214EC2734FB5B68] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NULL,
	[USER_ID] [int] NULL,
	[PARENT_ID] [int] NULL,
	[CONTENT_] [text] NULL,
	[CREATED_AT] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[MODIFY_BY] [int] NULL,
	[DELETED] [datetime] NULL,
 CONSTRAINT [PK__COMMENT__3214EC2738FF75CD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[ACTIVE] [bit] NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[CREATED_AT] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[MODIFY_BY] [int] NULL,
	[DELETED] [datetime] NULL,
 CONSTRAINT [PK__COMPANY__3214EC279713F80E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DELIVERY_METHOD]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DELIVERY_METHOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](30) NULL,
	[MONEY] [int] NULL,
	[CREATED_AT] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[MODIFY_BY] [int] NULL,
	[DELETED] [datetime] NULL,
 CONSTRAINT [PK__DELIVERY__3214EC27A5CD5A22] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[PAYMENT_METHOD_ID] [int] NULL,
	[DELIVERY_METHOD_ID] [int] NULL,
	[ORDER_PROGRESS_ID] [int] NULL,
	[INTO_MONEY] [int] NULL,
	[TRANSPORT_FEE] [int] NULL,
	[STATUS] [nvarchar](30) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[CREATED_AT] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[MODIFY_BY] [int] NULL,
	[DELETED] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
 CONSTRAINT [PK__ODER__3214EC27DD7AF000] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[QUANTITY] [int] NULL,
	[TOTAL_MONEY] [int] NULL,
	[CREATED_AT] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[MODIFY_BY] [int] NULL,
	[DELETED] [datetime] NULL,
 CONSTRAINT [PK__ORDER_DE__3214EC274AC81C57] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_PROGRESS]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_PROGRESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROGRESS] [nvarchar](100) NULL,
	[CREATED_AT] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[MODIFY_BY] [int] NULL,
	[DELETED] [datetime] NULL,
 CONSTRAINT [PK__ORDER_PR__3214EC27D2D3B660] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_MEDTHOD]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_MEDTHOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](30) NULL,
	[CREATED_AT] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[MODIFY_BY] [int] NULL,
	[DELETED] [datetime] NULL,
 CONSTRAINT [PK__PAYMENT___3214EC271B8F653F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [char](100) NULL,
	[ORIGIN_PRICE] [money] NULL,
	[SALE] [int] NULL,
	[STATUS] [nvarchar](50) NULL,
	[NAME] [nvarchar](100) NULL,
	[SLUG] [char](255) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[img1] [nvarchar](max) NULL,
	[img2] [nvarchar](max) NULL,
	[img3] [nvarchar](max) NULL,
	[img4] [nvarchar](max) NULL,
	[img5] [nvarchar](max) NULL,
	[CATEGORY_ID] [nvarchar](100) NULL,
	[COMPANY_ID] [int] NULL,
	[CREATED_AT] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[MODIFY_BY] [int] NULL,
	[DELETED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
 CONSTRAINT [PK__PRODUCTS__3214EC27D21EA6BF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[CREATED_AT] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[UPDATED_AT] [datetime] NULL,
	[MODIFY_BY] [int] NULL,
	[DELETED_AT] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLIDES]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLIDES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[LINK] [nvarchar](255) NULL,
	[IMAGE] [nvarchar](255) NULL,
	[ORD] [int] NULL,
	[STATUS] [varchar](30) NULL,
	[CREATED_AT] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[MODIFY_BY] [int] NULL,
	[DELETED] [datetime] NULL,
 CONSTRAINT [PK__SLIDES__3214EC27288AD45A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [char](50) NULL,
	[PASSWORD] [char](100) NULL,
	[NAME] [nvarchar](100) NULL,
	[GENDER] [nvarchar](5) NULL,
	[EMAIL] [char](50) NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[PHONE_NUMBER] [char](15) NULL,
	[AVATAR] [nvarchar](100) NULL,
	[CREATED_AT] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[MODIFY_BY] [int] NULL,
	[DELETED] [datetime] NULL,
	[ROLE_ID] [int] NULL,
	[UPDATED_AT] [datetime] NULL,
 CONSTRAINT [PK__USERS__3214EC2726E7C0E7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOUCHER]    Script Date: 6/11/2021 1:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUCHER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[SALE] [int] NULL,
	[SLUG] [nchar](30) NULL,
	[USER_ID] [int] NULL,
	[CONDITION] [int] NULL,
	[CREATED_BY] [datetime] NULL,
	[MODIFYED_BY] [datetime] NULL,
	[DELETED_BY] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CART] ON 

INSERT [dbo].[CART] ([ID], [USER_ID], [PRODUCT_ID], [QUANTITY], [STATUS], [CREATED_AT], [CREATED_BY], [UPDATED_AT], [MODIFY_BY], [DELETED_AT]) VALUES (51, 2, 12, 4, N'checkout', CAST(N'2021-05-29T16:27:53.357' AS DateTime), 1, NULL, CAST(N'1900-01-02T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[CART] ([ID], [USER_ID], [PRODUCT_ID], [QUANTITY], [STATUS], [CREATED_AT], [CREATED_BY], [UPDATED_AT], [MODIFY_BY], [DELETED_AT]) VALUES (52, 2, 12, 4, N'checkout', CAST(N'2021-05-29T16:27:53.357' AS DateTime), 1, NULL, CAST(N'1900-01-02T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[CART] ([ID], [USER_ID], [PRODUCT_ID], [QUANTITY], [STATUS], [CREATED_AT], [CREATED_BY], [UPDATED_AT], [MODIFY_BY], [DELETED_AT]) VALUES (53, 2, 12, 4, N'checkout', CAST(N'2021-05-29T16:27:53.357' AS DateTime), 1, NULL, CAST(N'1900-01-02T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[CART] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([ID], [NAME], [PARENT_ID], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (1, N'Phụ kiện nội thất ô tô', NULL, CAST(N'2021-06-08T11:24:30.727' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[CATEGORY] ([ID], [NAME], [PARENT_ID], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (2, N'Phụ kiện ngoại thất ô tô', NULL, CAST(N'2021-06-08T11:24:42.057' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[CATEGORY] ([ID], [NAME], [PARENT_ID], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (4, N'Phụ kiện nữa nè', NULL, CAST(N'2021-06-09T21:19:12.003' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[COMPANY] ON 

INSERT [dbo].[COMPANY] ([ID], [NAME], [ACTIVE], [DESCRIPTION], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (1, N'VinFast', 1, NULL, CAST(N'2021-06-08T11:26:24.860' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[COMPANY] ([ID], [NAME], [ACTIVE], [DESCRIPTION], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (2, N'Audi', 1, NULL, CAST(N'2021-06-08T11:26:31.070' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[COMPANY] ([ID], [NAME], [ACTIVE], [DESCRIPTION], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (3, N'phụ kiện cả trong cả ngoài', 1, NULL, CAST(N'2021-06-09T21:23:27.223' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[COMPANY] OFF
GO
SET IDENTITY_INSERT [dbo].[DELIVERY_METHOD] ON 

INSERT [dbo].[DELIVERY_METHOD] ([ID], [NAME], [MONEY], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (1, N'Giao hàng nhanh', 30000, CAST(N'2021-05-29T21:18:12.727' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[DELIVERY_METHOD] ([ID], [NAME], [MONEY], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (2, N'Giao hàng tiết kiệm', 29000, CAST(N'2021-05-29T21:18:25.403' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[DELIVERY_METHOD] ([ID], [NAME], [MONEY], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (3, N'GrabExpress', 35000, CAST(N'2021-05-29T21:18:53.707' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DELIVERY_METHOD] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDER] ON 

INSERT [dbo].[ORDER] ([ID], [USER_ID], [PAYMENT_METHOD_ID], [DELIVERY_METHOD_ID], [ORDER_PROGRESS_ID], [INTO_MONEY], [TRANSPORT_FEE], [STATUS], [DESCRIPTION], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED], [UPDATED_AT]) VALUES (6, 1, 1, 1, 6, 272000, 5000, NULL, NULL, CAST(N'2021-05-29T23:43:31.043' AS DateTime), 1, NULL, NULL, NULL)
INSERT [dbo].[ORDER] ([ID], [USER_ID], [PAYMENT_METHOD_ID], [DELIVERY_METHOD_ID], [ORDER_PROGRESS_ID], [INTO_MONEY], [TRANSPORT_FEE], [STATUS], [DESCRIPTION], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED], [UPDATED_AT]) VALUES (7, 1, 1, 1, 3, 272000, 5000, NULL, NULL, CAST(N'2021-05-29T23:43:31.043' AS DateTime), 1, NULL, NULL, NULL)
INSERT [dbo].[ORDER] ([ID], [USER_ID], [PAYMENT_METHOD_ID], [DELIVERY_METHOD_ID], [ORDER_PROGRESS_ID], [INTO_MONEY], [TRANSPORT_FEE], [STATUS], [DESCRIPTION], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED], [UPDATED_AT]) VALUES (8, 1, 1, 1, 3, 272000, 5000, NULL, NULL, CAST(N'2021-05-29T23:43:31.043' AS DateTime), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ORDER] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDER_DETAIL] ON 

INSERT [dbo].[ORDER_DETAIL] ([ID], [ORDER_ID], [PRODUCT_ID], [QUANTITY], [TOTAL_MONEY], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (5, 6, 7, 1, 89000, CAST(N'2021-05-29T23:43:31.057' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[ORDER_DETAIL] ([ID], [ORDER_ID], [PRODUCT_ID], [QUANTITY], [TOTAL_MONEY], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (6, 6, 9, 2, 178000, CAST(N'2021-05-29T23:43:31.057' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[ORDER_DETAIL] ([ID], [ORDER_ID], [PRODUCT_ID], [QUANTITY], [TOTAL_MONEY], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (7, 7, 7, 1, 89000, CAST(N'2021-05-29T23:43:31.057' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ORDER_DETAIL] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDER_PROGRESS] ON 

INSERT [dbo].[ORDER_PROGRESS] ([ID], [PROGRESS], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (1, N'Đơn hàng đã đặt', CAST(N'2021-05-29T22:17:43.303' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[ORDER_PROGRESS] ([ID], [PROGRESS], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (2, N'Đã xác nhận thông tin thanh toán', CAST(N'2021-05-29T22:18:31.537' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[ORDER_PROGRESS] ([ID], [PROGRESS], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (3, N'Đã giao cho ĐVVC', CAST(N'2021-05-29T22:20:50.760' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ORDER_PROGRESS] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENT_MEDTHOD] ON 

INSERT [dbo].[PAYMENT_MEDTHOD] ([ID], [NAME], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (1, N'Khi nhận hàng', CAST(N'2021-05-29T22:21:41.310' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[PAYMENT_MEDTHOD] ([ID], [NAME], [CREATED_AT], [CREATED_BY], [MODIFY_BY], [DELETED]) VALUES (2, N'Paypal', CAST(N'2021-05-29T22:21:47.727' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PAYMENT_MEDTHOD] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[CART] ADD  CONSTRAINT [DF__CART__CREATED_AT__693CA210]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF__CATEGORY__CREATE__3E52440B]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[COMMENT] ADD  CONSTRAINT [DF__COMMENT__CREATED__59063A47]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[COMPANY] ADD  CONSTRAINT [DF_COMPANY_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[COMPANY] ADD  CONSTRAINT [DF__COMPANY__CREATED__3A81B327]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[DELIVERY_METHOD] ADD  CONSTRAINT [DF__DELIVERY___CREAT__5535A963]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[ORDER] ADD  CONSTRAINT [DF__ODER__CREATED_AT__4222D4EF]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[ORDER_DETAIL] ADD  CONSTRAINT [DF__ORDER_DET__CREAT__45F365D3]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[ORDER_PROGRESS] ADD  CONSTRAINT [DF__ORDER_PRO__CREAT__4D94879B]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[PAYMENT_MEDTHOD] ADD  CONSTRAINT [DF__PAYMENT_M__CREAT__49C3F6B7]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  CONSTRAINT [DF__PRODUCTS__CREATE__36B12243]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[ROLE] ADD  CONSTRAINT [DF_ROLE_CREATED_AT]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[SLIDES] ADD  CONSTRAINT [DF__SLIDES__CREATED___5165187F]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_ADDRESS]  DEFAULT (N'http://localhost:3000/img/boy-avatar.png') FOR [ADDRESS]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF__USERS__CREATED_A__5EBF139D]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_ROLE_ID]  DEFAULT ((1)) FOR [ROLE_ID]
GO
USE [master]
GO
